* {
    box-sizing: border-box;
  }
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    background-color: rgb(56, 99, 14);
    background-image: url("assets/img/back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1500px;
    margin: auto;
}

.header {
    display: flex;
    align-items: center;
    border-bottom: 10px solid #57c268;   
}
.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}
.nav-link {
  position: relative;
  padding: 0 12px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 300;
  line-height: 50px;
  color: rgb(124, 93, 6); 
}

